@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 90vw;
  margin: auto;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  line-height: 1.4;
  overflow: hidden;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h5 {
  text-transform: none;
}

.logo {
  font-family: "Oswald", sans-serif;
}

.l-heading {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 2rem;
}

.m-heading {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.s-heading {
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  word-spacing: 2px;
}

.btn {
  display: inline-block;
  padding: 0.6em 1.5em;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  text-align: center;
}

.btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0.8;
}

.btn-small {
  display: inline-block;
  padding: 0.3em 1em;
  color: #fff;
  font-size: 0.5rem;
  letter-spacing: 0.4px;
  text-align: center;
}

.btn-small:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--main-color);
}

.btn-dark {
  background-color: #ccc;
}

.lead {
  font-size: 0.9em;
  letter-spacing: 0.2px;
  line-height: 1.7;
}

.display-menu {
  overflow: hidden;
}

.center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  width: 70px;
  height: 2px;
  background-color: var(--main-color);
}

.white-color {
  color: #f4f4f4;
}

.fa-star {
  color: var(--main-color);
}

.margin-1 {
  margin: 1em 0;
}

.margin-2 {
  margin: 2em 0;
}

:root {
  --main-color: #ffa500;
  --black-color: #0b0701;
  --light-color: #fff7e6;
}

.main-color {
  color: var(--main-color);
}

.header {
  height: 30em;
  background: var(--light-color);
}

.header .nav {
  height: 15%;
}

.header .nav .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .container .logo {
  cursor: pointer;
  font-size: 2.8em;
  line-height: 1.5;
  letter-spacing: 4px;
}

.header .nav .container .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .nav .container .main-nav li a {
  color: var(--black-color);
  opacity: 0.6;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0 0.5em;
}

.header .nav .container .main-nav li a:hover {
  opacity: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header .nav .container .hamburger {
  cursor: pointer;
  display: none;
}

.header .nav .container .hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--black-color);
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav .container .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 30px;
  height: 40px;
  padding: 8px;
}

.header .nav .container .search-box .search-txt {
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  line-height: 6px;
  width: 150px;
}

.header .nav .container .search-box .icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.header .hero {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .l-heading {
  width: 20ch;
  margin-top: 1em;
}

.header .lead {
  width: 65ch;
  margin-top: 1.3em;
}

.header .buttons {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .buttons div i {
  background-color: var(--main-color);
  padding: 0.7em;
  border-radius: 50%;
  color: white;
  margin-left: 0.7em;
}

@media only screen and (max-width: 768px) {
  .nav .logo {
    font-size: 0.7em;
    letter-spacing: 1px;
  }
  .nav .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 3.5em;
    right: 0;
    left: 0;
    height: 92vh;
    padding: 0 2em;
    background-color: var(--light-color);
    width: 100% !important;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-top: 1em;
    z-index: 1;
    overflow-y: hidden;
  }
  .nav .main-nav li {
    margin-top: 3em;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 0.3em;
  }
  .nav .main-nav.nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav .hamburger {
    display: block !important;
  }
  .nav .search-box {
    display: none !important;
  }
  .close .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .close .line2 {
    opacity: 0;
  }
  .close .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  .hero .l-heading {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hero .lead {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.section {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-image {
  height: 40vh;
  width: 100%;
  position: relative;
  background-color: #ffa600;
}

.section-image .image {
  position: relative;
  top: 15%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 75vw;
  left: 10%;
  min-height: 20em;
}

.section-content {
  margin-top: 4em;
  padding: 1em;
  min-height: 50vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-content .btn.btn-primary {
  display: none;
}

.section-content .btn-dark {
  margin: 0.7em 0;
}

.section-content .border {
  margin: 0.3em 0;
}

.section-content .m-heading {
  margin: 0.2em 0;
}

.section-content .lead {
  margin-top: 0.5em;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .section {
    height: 80vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-image {
    width: 22%;
    height: 60%;
    margin-right: 20%;
  }
  .section-image .image {
    left: 20%;
  }
  .section-content {
    width: 40%;
    padding: 0;
  }
  .section-content .border {
    margin: 0.5em 0;
  }
  .section-content .btn {
    display: inline-block;
    margin: 1em 0;
  }
  .section-content .m-heading {
    margin: 1em 0;
  }
  .section-content .lead {
    margin: 1em 0;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .section {
    height: 100vh;
  }
  .section-image {
    height: 30vh;
  }
  .image {
    min-height: 14em;
  }
  .section-content {
    min-height: 70vh;
    margin-top: 6em;
  }
}

.categories {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.8em;
  margin: 1.4em 0;
}

.categories-container :hover,
.categories-container :active {
  background-color: var(--main-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.categories-container :hover i,
.categories-container :active i {
  color: black;
}

.category-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccc;
  padding: 1.2em 0;
}

.category-cont .icon-cont {
  position: relative;
  margin-bottom: 1.2em;
}

.category-cont .icon-cont i {
  padding: 1em;
  background-color: white;
  border-radius: 50%;
}

.category-cont .icon-cont h5 {
  position: absolute;
  padding: 0.3em;
  background-color: var(--main-color);
  top: 0;
  right: 0;
  border-radius: 50%;
  font-size: 0.6em;
  color: #f4f4f4;
}

.category-cont .s-heading {
  margin: 0.3em 0;
}

.category-cont h6 {
  font-weight: 400;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .categories-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.gallery {
  margin: 2em 0;
}

.gallery-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  max-height: 60vh;
}

.gallery-images img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-content {
  padding: 1em 0;
}

.gallery-content .m-heading,
.gallery-content .border,
.gallery-content .lead,
.gallery-content .btn {
  margin: 0.8em 0;
}

@media only screen and (min-width: 768px) {
  .gallery {
    max-height: 35em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-content {
    -webkit-box-flex: 1.75;
        -ms-flex: 1.75;
            flex: 1.75;
  }
  .gallery-content .m-heading,
  .gallery-content .border,
  .gallery-content .lead,
  .gallery-content .btn {
    margin: 1.2em 0;
  }
  .gallery-content .lead {
    max-width: 55ch;
  }
  .gallery-images {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    max-height: 35em;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .gallery-images img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery-images img:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
  }
  .gallery-images img:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .gallery-images img:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
  .gallery-images img:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    grid-row: 6/10;
  }
}

.menu {
  margin: 2em 0;
}

.menu-heading {
  text-align: right;
  margin: 1em 0;
}

.menu-heading .m-heading {
  margin-top: 0.4em;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-item {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #999;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.3em;
}

.menu-image {
  height: 30vh;
}

.menu-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-content {
  padding: 0.3em 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews a {
  color: green;
}

.reviews i {
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .menu-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-item {
    margin: 0;
    width: 24%;
    max-height: 550px;
  }
}

.testinomials-container {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testinomial-item {
  padding: 1.5em;
  border: 1px solid #999;
  margin: 0.5em;
  max-height: 350px;
}

.testinomial-item .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testinomial-item .flex h3 {
  margin-left: 1em;
}

.testinomial-item img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex,
.stars,
.border,
.l-heading,
.lead {
  margin: 0.6em 0;
}

@media only screen and (min-width: 768px) {
  .testinomials-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testinomial-item {
    max-height: 550px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #999;
  overflow: hidden;
  height: 20em;
}

.contact-image {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.contact-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-content {
  height: 100%;
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  padding: 1em;
}

.contact-content .btn {
  border: none;
  cursor: pointer;
}

.form {
  margin: 2em 0;
  height: 50%;
}

.form .input-data {
  height: 45px;
  width: 250px;
  background-color: #f4f4f4;
  padding: 0.8em;
  margin-right: 2em;
}

.form .input-data input {
  outline: none;
  border: none;
  background-color: #f4f4f4;
  float: left;
  font-size: 0.9em;
  letter-spacing: 0.7px;
  line-height: 1.2;
  font-weight: 300;
}

.form .input-data i {
  color: #fff;
  float: right;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

@media only screen and (max-width: 768px) {
  .contact-image {
    display: none;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.3em 0;
  }
  .input-data {
    margin: 0.3em 0;
  }
  .form {
    margin: 0;
    height: 80%;
  }
}
